/* Colors */

/* Blue Shades */
$blue-main: #159cd6;
$blue-lightest: #bfecff;
$blue-lighter: #d2f2ff;
$blue-sky: #e9fbff;
$blue-light: #a2e3ff;
$blue-normal: #00c2ff;
$blue-medium: #00a8ff;
$blue-deep: #26b0e6;
$blue-dark: #0080ff;

/* Orange Shades */
$orange-main: #f18723;
$orange-lighter: #f39843;
$orange-dark: #7a3e06;
$orange-light: #ffd7b1;

/* Gray Shades */
$gray-main: #52504a;
$gray-medium: #707070;
$gray-light: #dedede;

/* Red Shades */
$red-one: #f71c1c;
$red-two: #f60d0d;

/* Break Points */
$web-view-break-point: 1080px;
